<main>
    <!-- main display -->
    <section id="section1" class="row mx-0">
        <div class="col px-0">
            <div class="contactHeader col row mx-0 py-3 px-0 bg-dark">
                <h1 class="h1 text-uppercase text-warning px-4 text-center mx-auto ml-xl-3">Skontaktuj się z nami</h1>
            </div>
            
            <div class="welcomeWraperContact col p-0 m-0 d-flex justify-content-center"> 
                <div class="welcomeBox p-0 m-0"></div>
                <div class="welcomeBox--solid p-0 m-0"></div>
            </div>
            
            <button id="arrowContact" ng-click="scrolliIcon()" class="btn bg-dark mx-auto outline-none">
                <a class="row justify-content-center mx-auto btn-link-none text-decoration-none"><i class="flaticon-chevron-arrow-down"></i></a>
            </button>

            <img src="./img/contact-main.jpg" alt="Klucze serwisowe">
        </div>
        
        <div id="contactText" class="col-12 col-md-12 mx-0">
            <div class="row pt-4 mt-4 justify-content-start mx-2">
                <div class="col-11 col-sm-10 col-md-6 text-center text-md-left px-0">
                    <div class="col col-sm-6 col-md-8 col-lg-10 px-0 px-xl-4 pt-2">
                        <h3 class="h4 pb-1 font-weight-bold">ZAKŁAD REMONTOWO-USŁUGOWY DAREX</h3>
                        <p class="h4 pb-1 my-0">Pilotów 13E/15</p>
                        <p class="h4 pb-1 my-0">Gdańsk 80-017, pomorskie</p>
                        <p class="h4 pb-1 my-0">tel: <a class="text-dark font-italic" href="tel:+48501192104" title="Zadzwoń na numer 501-192-104">501-192-104</a></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start mx-2">
                <div class="col-12 col-md-5 mb-2 mt-4 px-0">
                    <div class="col col-sm-4 col-md-7 col-lg-8 px-0 px-xl-4">
                        <a href="tel:+48501192104" title="Zadzwoń na numer 501-192-104" class="px-4 btn-link-none text-decoration-none"><i class="flaticon-telephone-symbol-button text-dark bigIcon"></i></a>
                        <h2 class="h2 font-weight-bold mt-3 mb-3">Pogotowie dźwignicowe, serwis</h2>
                        <p class="mb-1 h4">tel: <a class="text-dark font-italic font-weight-bold" href="tel:+48501192104" title="Zadzwoń na numer 501-192-104">501-192-104</a></p>
                        <p class="mb-1 h4">tel: <a class="text-dark font-italic font-weight-bold" href="tel:+48515499443" title="Zadzwoń na numer 515-499-443">515-499-443</a></p>
                        <div class="col-12 mt-3 mb-4 px-0">
                            <a href="mailto:dariusz.parchoniuk@darex.serwis.pl" title="Napisz maila do: dariusz.parchoniuk@darex.serwis.pl" class="pr-3 btn-link-none text-decoration-none"><i class="flaticon-envelope text-dark"></i></a>
                            <a href="" class="pl-3 btn-link-none text-decoration-none"><i class="flaticon-facebook-logo text-dark"></i></a>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </section>
    <!-- main display end -->
    
    <!-- privacy policy -->
    <div id="iIcon" class="buttonHover row mx-0 py-4" data-toggle="collapse" href="#policyText" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="col row mx-auto mx-sm-5 align-items-center justify-content-center">
            <div class="col-12 col-sm-1 mx-auto p-0 text-center text-sm-left">
                <button class="btn bg-light mx-auto align-middle outline-none align-self-start">
                    <a class="row justify-content-center mx-auto my-0 btn-link-none text-decoration-none text-dark h1"><i class="flaticon-information-symbol"></i></a>
                </button>
            </div>
            <div class="hiddenBox col-12 col-sm-11 text-center text-sm-left">
                <span id="policy" class="text-light h3 ml-0 ml-sm-5 ml-md-4 align-middle py-3">Polityka prywatności</span>
            </div>
        </div>
    </div>
    <div id="policyText" class="row mx-0 justify-content-center bg-secondary collapse mx-auto">
        <div class="card col-12 col-md-8 py-3">
            <div class="card-header bg-light text-dark p-3 text-center text-justify">
                <h4 class="h4 px-5 card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, molestiae!</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>&sect 1</p>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eligendi vero recusandae voluptate ipsum dolorem officiis laborum adipisci in, ullam molestias explicabo minima architecto doloribus vel! At consequatur reiciendis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus dolores voluptate minus. Vero culpa eaque consequatur soluta vitae, perferendis illo? A maiores quia ipsum saepe enim quaerat, ullam amet.</p>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>&sect 2</p>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eligendi vero recusandae voluptate ipsum dolorem officiis laborum adipisci in, ullam molestias explicabo minima architecto doloribus vel! At consequatur reiciendis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus dolores voluptate minus. Vero culpa eaque consequatur soluta vitae, perferendis illo? A maiores quia ipsum saepe enim quaerat, ullam amet.</p>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>&sect 3</p>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eligendi vero recusandae voluptate ipsum dolorem officiis laborum adipisci in, ullam molestias explicabo minima architecto doloribus vel! At consequatur reiciendis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus dolores voluptate minus. Vero culpa eaque consequatur soluta vitae, perferendis illo? A maiores quia ipsum saepe enim quaerat, ullam amet.</p>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>&sect 4</p>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eligendi vero recusandae voluptate ipsum dolorem officiis laborum adipisci in, ullam molestias explicabo minima architecto doloribus vel! At consequatur reiciendis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus dolores voluptate minus. Vero culpa eaque consequatur soluta vitae, perferendis illo? A maiores quia ipsum saepe enim quaerat, ullam amet.</p>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>&sect 5</p>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eligendi vero recusandae voluptate ipsum dolorem officiis laborum adipisci in, ullam molestias explicabo minima architecto doloribus vel! At consequatur reiciendis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus dolores voluptate minus. Vero culpa eaque consequatur soluta vitae, perferendis illo? A maiores quia ipsum saepe enim quaerat, ullam amet.</p>
                    </li>
                </ul>
                <button ng-click="scrolliIcon()" class="policyBtn btn bg-light mx-auto outline-none" data-toggle="collapse" href="#policyText" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <a class="row justify-content-center mx-auto btn-link-none text-decoration-none"><i class="flaticon-chevron-arrow-down"></i></a>
                </button>
            </div>
        </div>
        
    </div>
    <!-- privacy policy end -->
</main>
