// Variables

$topSpace: 9vh;
$skewShapeColor: #ffcc00;
$skewShapeColorOpacity: #ffcc0080;
$colorDark: #343a40;
$colorLight: #f8f9fa;
$colorBlack: black;
$btnSize: 40px;
$btnSizeTablet: $btnSize*1.5;
$btnSizeLaptop: $btnSize*2;
$btnSizeFullHD: $btnSize*3;
$btnChangeSpeed: 0.3s;
$box1Color: #f1f1f1;
$box2Color: #f1eace;
$box3Color: #e7e7e7bd;
$box4Color: #e7e7e7ef;
$box5Color: #e7e7e781;