@import "mixins";
@import "variables";

*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: $topSpace;
    img{
        height: ($topSpace - 2vh);
    }
    a{
        @include mQfullHD{
            font-size: 2rem;
        }
    }
}

main{
    padding-top: $topSpace;
    background-color: $skewShapeColor;
    img{
        width: auto;
        height: (100vh - ($topSpace));
        float: right;
        @include mQportrait{
            width: 100%;
            height: auto;
        }    
    }
    #welcomeWraper{
        width: 65vw;
        // right: 40vw;
        @include mQlandscape{
            position: absolute;
            padding-top: $topSpace;
            height: (100vh - ($topSpace));
        }
        @include mQpanoram{
            right: 30vw;
        }
    }
    #welcomeText{
        z-index: 1;
        left: -12vw;
        @include mQlandscape{
            text-align: left !important;
            position: relative;
            top: 4vh;
            left: -14vw;
        }
        @include mQfullHD{
            left: -10vw;
        }
        @include mQlaptop{
            left: -10vw;
        }
        @include mQtablet{
            left: -10vw;
        }
        h1{ 
            position: relative;
            @include mQpanoram{
                font-size: 3rem;
            }
            @include mQlandscape{
                padding: 1vh 0;
            }
            @include mQfullHD{
                font-size: 8rem;
            }
            @include mQlaptop{
                font-size: 5.5rem;
            }
            @include mQtablet{
                font-size: 4.5rem;
            }
        }
        
    }
    .welcomeBox{
        background-color: $skewShapeColorOpacity;
        width: 40vw;
        height: 100%;
        position: absolute;
        @include mQlandscape{
            height: (100vh - ($topSpace));
            transform: skewX(-25deg);
        }
        &--solid{
            @extend .welcomeBox;
            background-color: $skewShapeColor;
            width: 100vw;
            @include mQlandscape{
                transform: skewX(-25deg) translateX(-8vw);
                right: 15vw;
            }
        }
    }
}

    


