@import "mixins";
@import "variables";

*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: $topSpace;
    img{
        height: ($topSpace - 2vh);
    }
    a{
        @include mQfullHD{
            font-size: 2rem;
        }
    }
}
main{
    padding-top: $topSpace;
    background-color: $skewShapeColor;

    // home
    img{
        width: auto;
        height: (100vh - ($topSpace));
        float: right;
        @include mQportrait{
            width: 100%;
            height: auto;
        }    
    }
    #iconFacebook{
        bottom: 20px;
        right: 20px;
        position: absolute;
        @include mQportrait{
            i{
                font-size: 40px;
            }
        }
        @include mQtablet{
            bottom: 30px;
            right: 30px;
            i{
                font-size: 60px;
            }
        }
        @include mQlaptop{
            bottom: 30px;
            right: 30px;
            i{
                font-size: 60px;
            }
        }
        @include mQfullHD{
            bottom: 50px;
            right: 50px;
            i{
                font-size: 80px;
            }
        }
    }
    #arrow{
        width: $btnSize*1.5;
        height: $btnSize*1.5;
        border-radius: $btnSize;
        position: absolute;
        bottom: 2vh;
        left: 10vw;
        z-index: 1;
        transition: all $btnChangeSpeed linear;
        box-shadow: none;
        &:hover{
            background-color: $skewShapeColor !important;
            i{
                color: $colorBlack !important;
            }
        }
        @include mQportrait{
            position: relative;
            display: block;
            bottom: 0px;
            left: 0px;
        }
        @include mQfullHD{
            width: $btnSizeFullHD;
            height: $btnSizeFullHD;
            border-radius: $btnSizeFullHD/2;
        }
        @include mQlaptop{
            width: $btnSizeLaptop;
            height: $btnSizeLaptop;
            border-radius: $btnSizeLaptop/2;
        }
        @include mQtablet{
            width: $btnSizeTablet;
            height: $btnSizeTablet;
            border-radius: $btnSizeTablet/2;
        }
        @include mQpanoram{
            left: 13vw;
        }
    }
    #section1{
        overflow: hidden;
        i{
            font-size: $btnSize/1.5;
            line-height: 1;
            color: $skewShapeColor;
            transition: all $btnChangeSpeed linear;
            @include mQfullHD{
                font-size: $btnSizeFullHD/1.5;
            }
            @include mQlaptop{
                font-size: $btnSizeLaptop/1.5;
            }
            @include mQtablet{
                font-size: $btnSizeTablet/1.5;
            }
        }
    }
    #section2{
        overflow: hidden;
        i{
            font-size: $btnSize/0.8;
            line-height: 1;
            transition: all $btnChangeSpeed linear;
            @include mQfullHD{
                font-size: $btnSizeFullHD/1.3;
            }
            @include mQportrait{
                font-size: $btnSizeFullHD/2;
            }
            @include mQlaptop{
                font-size: $btnSizeLaptop/1.3;
            }
            @include mQtablet{
                font-size: $btnSizeTablet/1.3;
            }
        }
        .bottomBox{
            width: 100%;
            height: 10vh;
            position: absolute;
            bottom: 0;
            opacity: 0.5;
            @include mQportrait{
                height: 6vh;
            }
            @include mQmobileSmall{
                height: 22vh;
            }
            @include mQmobileMedium{
                height: 25vh;
            }
            @include mQmobileLarge{
                height: 20vh;
            }
            @include mQtabletPortrait{
                height: 8vh;
            }
        }
        #header1{
            color: white;
            @include mQmobileSmall{
                color: #343a40;
            }
        }
        #header2{
            color: white;
            @include mQmobileSmall{
                color: #343a40;
            }
        }
        #header3{
            color: #ffc107 ;
            @include mQmobileSmall{
                color: white;
            }
        }

    }
    #section3{
        overflow: hidden;
        display: block;
        height: auto;
        .imgMain{
            width: auto;
            height: (90vh - ($topSpace));
            float: left;
            @include mQportrait{
                width: 100%;
                height: auto;
            }
        }
    }
    .welcomeWraper{
        width: 65vw;
        @include mQlandscape{
            position: absolute;
            padding-top: $topSpace;
            height: (100vh - ($topSpace));
        }
        @include mQpanoram{
            right: 30vw;
        }
        @include mQpanoramWide{
            right: 10vw;
        }
        #welcomeText h1{
            @include mQpanoramWide{
                font-size: 3.5rem;
            }
        }
    }
    #welcomeText{
        z-index: 1;
        left: -12vw;
        height: (100vh - ($topSpace)-5);
        @include mQportrait{
            height: auto;
        }
        @include mQlandscape{
            text-align: left !important;
            position: relative;
            top: 4vh;
            left: -14vw;
        }
        @include mQfullHD{
            left: -10vw;
        }
        @include mQlaptop{
            left: -10vw;
        }
        @include mQtablet{
            left: -10vw;
        }
        h1{ 
            position: relative;
            @include mQpanoram{
                font-size: 3rem;
            }
            @include mQlandscape{
                padding: 1vh 0;
            }
            @include mQfullHD{
                font-size: 8rem;
            }
            @include mQlaptop{
                font-size: 5.5rem;
            }
            @include mQtablet{
                font-size: 4.5rem;
            }
        }
    }
    .welcomeBox{
        background-color: $skewShapeColorOpacity;
        width: 40vw;
        height: 100%;
        position: absolute;
        @include mQportrait{
            width: 100vw;
            top: 15vh;
        }
        @include mQmobileSmall{
            width: 100vw;
            top: 20vh;
        }
        @include mQlandscape{
            height: (100vh - ($topSpace));
            transform: skewX(-25deg);
        }
        &--solid{
            @extend .welcomeBox;
            background-color: $skewShapeColor;
            width: 100vw;
            @include mQlandscape{
                transform: skewX(-25deg) translateX(-8vw);
                right: 15vw;
            }
            @include mQportrait{
                display: none;
            }
        }
    }
    .sectionBoxWhite{
        height: 200%;
        width: 100%;
        position: absolute;
        left: -40vw;
        transform: skewX(20deg) scaleX(1.5) translateX(-100px);
        @include mQportrait{
            transform: skewX(20deg) scaleX(1.5) translateX(-70px);
        }
        @include mQtablet{
            transform: skewX(20deg) scaleX(1.5) translateX(-170px);
        }
        @include mQlaptop{
            transform: skewX(20deg) scaleX(1.5) translateX(-250px);
        }
        @include mQfullHD{
            transform: skewX(20deg) scaleX(1.5) translateX(-350px);
        }
    }
    .box1{
        background-color: $box1Color;
        p{
            text-indent: 1em;
        }
    }
    .box2{
        background-color: $box2Color;
        p{
            text-indent: 1em;
        }
    }
    .btnCollapse{
        cursor: pointer;
        i{
            font-size: $btnSize/2 !important;
            color: $colorBlack;
        }
        .btnCollapseBack{
            background-color: $skewShapeColor;
            top: -8px;
            height: 40px;
            width: 38px;
            position: absolute;
            right: 8px;
            transition: top linear 0.2s 0.3s;
        }
        button{
            position: absolute;
            top: 0px;
            right: 0px;
            opacity: 0.5;
            border-color: $colorBlack;
            transition: transform linear 0.2s 0.3s;
        }
        &:hover{
            button{
                background-color: $colorBlack;
                border-color: $colorBlack;
            }
            i{
                color: $skewShapeColor !important;
            }
        }
    }
    .buttonType{
        cursor: pointer;
    }

    // references
    .referencesWraper{
        @include mQpanoram{
            right: 0vw;
        }
    }
    #referencesText{
        right: -12vw;
        height: (100vh - ($topSpace)-5);
        @include mQportrait{
            height: auto;
        }
        @include mQlandscape{
            text-align: left !important;
            position: relative;
            top: 20vh;
            right: -14vw;
        }
        @include mQfullHD{
            right: -10vw;
        }
        @include mQlaptop{
            right: -10vw;
        }
        @include mQtablet{
            right: -10vw;
        }
        h1{ 
            position: relative;
            @include mQpanoram{
                font-size: 3rem;
            }
            @include mQlandscape{
                padding: 1vh 0;
            }
            @include mQfullHD{
                font-size: 7rem;
            }
            @include mQlaptop{
                font-size: 5.5rem;
            }
            @include mQtablet{
                font-size: 4.5rem;
            }
        }
        .movedRight{
            right: -4vw;
            @include mQmobileSmall{
                right:0vw;
            }
            @include mQmobileMedium{
                right:-2vw;
            }
            @include mQportrait{
                right:0vw;
            }
        }
        .movedLeft{
            right: 2vw;
            @include mQmobileSmall{
                right:6vw;
            }
            @include mQmobileMedium{
                right:5vw;
            }
            @include mQportrait{
                right:0vw;
            }
        }
    }
    .referencesBox{
        @extend .welcomeBox;
        @include mQportrait{
            width: 100vw;
            transform: translateY(7vh);
        }
        @include mQlandscape{
                height: (100vh - ($topSpace));
                transform: skewX(25deg);
            }
            &--solid{
                    @extend .welcomeBox--solid;
                    @include mQlandscape{
                        transform: skewX(25deg) translateX(8vw);
                        left: 15vw;
                    }
                }
    }
    .borderBox{
        position: absolute;
        right: -0.5vw;
        bottom: -5vh;
        border: 1px solid black;
        width: 105%;
        height: 220%;
        border-radius: 10px;
        @include mQportrait{
            right: -2.5%;
        }
    }
    .referencesContent{
        transform: translateY(-(90vh - ($topSpace)));
        margin-bottom: -(90vh - ($topSpace));
        @include mQportrait{
            transform: translateY(-(40vh - ($topSpace)));
            margin-bottom: -(35vh - ($topSpace));
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    .galleryArrow{
        width: $btnSize;
        height: $btnSize;
        border-radius: $btnSize/2;
        transform: rotate(-90deg);
        transition: transform linear 0.15s 0.3s;
        i{
            color: $box4Color;
        }
        @include mQmobileSmall{
            transform: rotate(0deg);
            position: relative;
            top: 90%;
        }
    }
    .galleryArrowLeft{
        transform: rotate(90deg);
        @include mQmobileSmall{
            transform: rotate(180deg);
        }
    }
    .refContentBox{
        background-color: $box3Color;
        box-shadow: 5px 5px 10px;
        @include mQfullHD{
            p{
                font-size: 1.5rem;
            }
            h4{
                font-size: 2.5rem;
            }
        }
        @include mQmobileSmall{
            p{
                font-weight: 400;
            } 
        }
        @include mQmobileMedium{
            p{
                font-weight: 400;
            } 
        }
        @include mQmobileLarge{
            p{
                font-weight: 400;
            } 
        }
    }
    .galleryBtn{
        background-color: $box4Color;
        transition: all $btnChangeSpeed linear;
        cursor: pointer;
        box-shadow: 5px 5px 10px;
        z-index: 1;
        &:hover{
            background-color: $box5Color;
            .galleryArrow{
                background-color: transparent !important;
                i{
                    color: $colorDark !important;
                }
            }
        }
    }
    .gallery{
        overflow: scroll;
        position: relative;
        scrollbar-width: none;
        transition: all linear 0.3s;
        width: 100%;
        left: 0px;
        top: 0px;
        &::-webkit-scrollbar {
            display: none;
        }
        img{
            width: 100%;
            border: 15px solid white;
            box-shadow: 3px 2px 10px;
        }
    }
    .gallery.ng-hide{
        left: -300px;
        opacity: 0.3;
        @include mQmobileSmall{
            left: 0px;
            top: -90vh;
        }
    }
    .hiddenBorder{
        overflow: hidden;
        transition: all linear 0.3s;
        @include mQmobileSmall{
            mask: linear-gradient( black 90%, transparent 100%);
            height: 0;
        }
    }
    .hiddenBorderView{
        @include mQmobileSmall{
            height: 70vh;
        }
    }
    .blurBox{
        mask: linear-gradient( transparent 0%, black 10%, black 90%, transparent 100%);
    }

    // contact
    .contactHeader{
        background-color: $colorBlack !important;
        position: absolute;
        opacity: 0.7;
        z-index: 2;
        width: 100%;
        @include mQportrait{
            background-color: $colorBlack !important;
            opacity: 1;
        }
        h1{
            font-size: 3.5rem;
            @include mQportrait{
                font-size: 2.5rem;
            }
            @include mQtablet{
                font-size: 2.5rem;
                padding-top: 10px;
                margin-bottom: 10px;
            }
            @include mQmobileLarge{
                font-size: 2.5rem;
                padding-top: 10px;
                margin-bottom: 10px;
            }
            @include mQpanoram{
                font-size: 2rem;
                padding-top: 10px;
                margin-bottom: 10px;
            }
            @include mQmobileMedium{
                font-size: 1.8rem;
                padding-top: 10px;
                margin-bottom: 10px;
            }
            @include mQmobileSmall{
                font-size: 1.5rem;
                padding-top: 15px;
                margin-bottom: 15px;
            }
            @include mQfullHD{
                font-size: 3.5rem;
                padding-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .welcomeWraperContact{
        @extend .welcomeWraper;
        @include mQportrait {
            width: 100vw;
        }
    }
    #contactText{
        z-index: 1;
        transform: translateY(-(90vh - ($topSpace)));
        margin-bottom: -(90vh - ($topSpace)) !important;
        h2{
            font-size: 1.7rem;
        }
        h3{
            font-size: 1.5rem;
        }
        p, a{
            font-size: 1.5rem;
        } 
        
        @include mQfullHD{
            h2{
                font-size: 2.2rem;
            }
            h3{
                font-size: 2.2rem;
            }
            p, a{
                font-size: 2rem;
            }           
        }
        @include mQmobileLarge{
            h2{
                font-size: 1.4rem;
            }
            h3{
                font-size: 1.2rem;
            }
            p, a{
                font-size: 1rem;
            }
            i{
                font-size: 3rem;
            }         
        }
        @include mQmobileMedium{
            h2{
                font-size: 1.2rem;
                text-align: left;
            }
            h3{
                font-size: 1.2rem;
                text-align: left;
            }
            p, a{
                font-size: 1rem;
                text-align: left;
            }
            i{
                font-size: 2.5rem;
            }
        }
        @include mQmobileSmall{
            h2{
                font-size: 1rem;
                text-align: left;
            }
            h3{
                font-size: 1rem;
                text-align: left;
            }
            p, a{
                font-size: 1rem;
                text-align: left;
            }
        }
        @include mQportrait{
            text-align: center;
            transform: translateY(-(10vh - ($topSpace)));
            margin-bottom: -(10vh - ($topSpace)) !important;
            margin-left: 0px !important;
            div{
                margin: auto;
            }
            p, a, h3, h2{
                text-align: center;
                font-size: 1.3rem;
            }
            i{
                font-size: 4rem;
            }       
        }
        @include mQtablet{
            h2{
                font-size: 1.6rem;
            }
            h3{
                font-size: 1.4rem;
            }
            p, a{
                font-size: 1.2rem;
            }           
        }
        @include mQlaptop{
            h2{
                font-size: 1.8rem;
            }
            h3{
                font-size: 1.6rem;
            }
            p, a{
                font-size: 1.4rem;
            }           
        }

        .bigIcon{
            font-size: 6rem;
            @include mQfullHD{
                font-size: 9rem;  
            }
            @include mQmobileSmall{
                font-size: 3rem;  
            }
            @include mQmobileMedium{
                font-size: 4rem;       
            }
            @include mQmobileLarge{
                font-size: 5rem;       
            }
            @include mQportrait{
                font-size: 5rem;       
            }
        }
    }
    #arrowContact{
        @extend #arrow;
        z-index: 2;
        left: 49vw;
        background-color: $skewShapeColor !important;
        @include mQportrait{
            position: relative;
            left: 0vw;    
            background-color: $colorBlack !important;
            width: $btnSize*1.7;
            height: $btnSize*1.7;
            border-radius: $btnSize;
            top: 15vh;
        }
        @include mQtablet{
            width: $btnSizeTablet*1.2;
            height: $btnSizeTablet*1.2;
            border-radius: $btnSizeTablet;
        }
        i{
            color: $colorBlack;
            @include mQportrait{
                color: $skewShapeColor;  
            }
        }
        &:hover{
            background-color: $colorBlack !important;
            i{
                color: $skewShapeColor !important;
            }
        }
    }
    #iIcon{
        background-color: $colorBlack;
        transition: all $btnChangeSpeed linear;
        button{
            width: $btnSize*2;
            height: $btnSize*2;
            border-radius: $btnSize;
            transition: all $btnChangeSpeed linear;
            box-shadow: none;
        }
        .hiddenBox{
            overflow: hidden;
        }
    }
    .buttonHover{
        #policy{
            transition: all $btnChangeSpeed linear;
            opacity: 0;
            position: relative;
            left: -300px;
            @include mQmobileSmall{
                opacity: 1;
                left: 0px;    
            }
            @include mQmobileMedium{
                opacity: 1;
                left: 0px;    
            }
            @include mQmobileLarge{
                opacity: 1;
                left: 0px;    
            }
            @include mQtablet{
                opacity: 1;
                left: 0px;    
            }
        }
        a{
            transition: all $btnChangeSpeed linear;
            color: $colorBlack !important;
        }
        cursor: pointer;
        &:hover{
            button{
               background-color: $colorBlack !important;
            }
            #policy{
                opacity: 1;
                left: 0px;
            }
            a{
                color: $colorLight !important;
            }
        }
    }
    .policyBtn{
        transform: rotate(180deg);
        width: 100%;
        height: 7vh;
    }
    #mapWraper{
        // padding-top: $topSpace;
        z-index: 1;
        position: absolute;
        right: 0px;
        width: 30vw;
        height: 30vh;
        transition: all linear 0.2s;
        iframe{
            opacity: 0.7;
            width: 100%;
            height: 100%;
            transition: all linear 0.2s;
            
            @include mQmobileSmall{
                padding-top: 20px;       
            }
            @include mQmobileMedium{
                padding-top: 15px;       
            }
            @include mQpanoram{
                padding-top: 4px;       
            }
            @include mQportrait{
                padding-top: 0px;       
            }
        }
        button{
            position: absolute;
            bottom: -20px;
            left: -20px;
        }
        i{
            font-size: 1em;
        }
    }
}
.modal{
    p{
        text-indent: 1em;
    }
    img{
        width: 100%;
    }
}
#copyright{
    p, span{
        font-size: 0.8rem;
    }
}

// main animation
.animate{
    transition: all 0.3s linear;
}

/* The starting CSS styles for the enter animation */
.animate.ng-enter {
    opacity: 0;
    transform: rotateZ(90deg) scale(0);
    transform-origin: 100% 0;
}
.animate.ng-leave.ng-leave-active {
    opacity: 0;
    transform: rotateZ(90deg) scale(0);
    transform-origin: 100% 0;
    transition: 0s ease-out;
}

/* The finishing CSS styles for the enter animation */
.animate.ng-leave {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
    transform-origin: 100% 0;
}
.animate.ng-enter.ng-enter-active {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
    transform-origin: 100% 0;
}