* {
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  height: 9vh;
}

header img {
  height: 7vh;
}

@media screen and (min-width: 1441px) {
  header a {
    font-size: 2rem;
  }
}

main {
  padding-top: 9vh;
  background-color: #ffcc00;
}

main img {
  width: auto;
  height: 91vh;
  float: right;
}

@media screen and (orientation: portrait) {
  main img {
    width: 100%;
    height: auto;
  }
}

main #iconFacebook {
  bottom: 20px;
  right: 20px;
  position: absolute;
}

@media screen and (orientation: portrait) {
  main #iconFacebook i {
    font-size: 40px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #iconFacebook {
    bottom: 30px;
    right: 30px;
  }
  main #iconFacebook i {
    font-size: 60px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #iconFacebook {
    bottom: 30px;
    right: 30px;
  }
  main #iconFacebook i {
    font-size: 60px;
  }
}

@media screen and (min-width: 1441px) {
  main #iconFacebook {
    bottom: 50px;
    right: 50px;
  }
  main #iconFacebook i {
    font-size: 80px;
  }
}

main #arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  bottom: 2vh;
  left: 10vw;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main #arrow:hover {
  background-color: #ffcc00 !important;
}

main #arrow:hover i {
  color: black !important;
}

@media screen and (orientation: portrait) {
  main #arrow {
    position: relative;
    display: block;
    bottom: 0px;
    left: 0px;
  }
}

@media screen and (min-width: 1441px) {
  main #arrow {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #arrow {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #arrow {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}

@media screen and (min-aspect-ratio: 82 / 42) and (max-aspect-ratio: 10 / 4) {
  main #arrow {
    left: 13vw;
  }
}

main #section1 i {
  font-size: 26.66667px;
  line-height: 1;
  color: #ffcc00;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (min-width: 1441px) {
  main #section1 i {
    font-size: 80px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #section1 i {
    font-size: 53.33333px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #section1 i {
    font-size: 40px;
  }
}

main #section2 {
  overflow: hidden;
}

main #section2 i {
  font-size: 50px;
  line-height: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (min-width: 1441px) {
  main #section2 i {
    font-size: 92.30769px;
  }
}

@media screen and (orientation: portrait) {
  main #section2 i {
    font-size: 60px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #section2 i {
    font-size: 61.53846px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #section2 i {
    font-size: 46.15385px;
  }
}

main #section2 .bottomBox {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

@media screen and (orientation: portrait) {
  main #section2 .bottomBox {
    height: 6vh;
  }
}

@media screen and (max-width: 575px) {
  main #section2 .bottomBox {
    height: 22vh;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  main #section2 .bottomBox {
    height: 25vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  main #section2 .bottomBox {
    height: 20vh;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  main #section2 .bottomBox {
    height: 8vh;
  }
}

main #section2 #header1 {
  color: white;
}

@media screen and (max-width: 575px) {
  main #section2 #header1 {
    color: #343a40;
  }
}

main #section2 #header2 {
  color: white;
}

@media screen and (max-width: 575px) {
  main #section2 #header2 {
    color: #343a40;
  }
}

main #section2 #header3 {
  color: #ffc107;
}

@media screen and (max-width: 575px) {
  main #section2 #header3 {
    color: white;
  }
}

main #section3 {
  overflow: hidden;
  display: block;
}

main #section3 img {
  width: auto;
  height: 81vh;
  float: left;
}

@media screen and (orientation: portrait) {
  main #section3 img {
    width: 100%;
    height: auto;
  }
}

main .welcomeWraper {
  width: 65vw;
}

@media screen and (orientation: landscape) {
  main .welcomeWraper {
    position: absolute;
    padding-top: 9vh;
    height: 91vh;
  }
}

@media screen and (min-aspect-ratio: 82 / 42) and (max-aspect-ratio: 10 / 4) {
  main .welcomeWraper {
    right: 30vw;
  }
}

@media screen and (min-aspect-ratio: 10 / 4) {
  main .welcomeWraper {
    right: 10vw;
  }
}

@media screen and (min-aspect-ratio: 10 / 4) {
  main .welcomeWraper #welcomeText h1 {
    font-size: 3.5rem;
  }
}

main #welcomeText {
  z-index: 1;
  left: -12vw;
  height: 86vh;
}

@media screen and (orientation: portrait) {
  main #welcomeText {
    height: auto;
  }
}

@media screen and (orientation: landscape) {
  main #welcomeText {
    text-align: left !important;
    position: relative;
    top: 4vh;
    left: -14vw;
  }
}

@media screen and (min-width: 1441px) {
  main #welcomeText {
    left: -10vw;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #welcomeText {
    left: -10vw;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #welcomeText {
    left: -10vw;
  }
}

main #welcomeText h1 {
  position: relative;
}

@media screen and (min-aspect-ratio: 82 / 42) and (max-aspect-ratio: 10 / 4) {
  main #welcomeText h1 {
    font-size: 3rem;
  }
}

@media screen and (orientation: landscape) {
  main #welcomeText h1 {
    padding: 1vh 0;
  }
}

@media screen and (min-width: 1441px) {
  main #welcomeText h1 {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #welcomeText h1 {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #welcomeText h1 {
    font-size: 4.5rem;
  }
}

main .welcomeBox, main .welcomeBox--solid, main .referencesBox--solid, main .referencesBox {
  background-color: #ffcc0080;
  width: 40vw;
  height: 100%;
  position: absolute;
}

@media screen and (orientation: portrait) {
  main .welcomeBox, main .welcomeBox--solid, main .referencesBox--solid, main .referencesBox {
    width: 100vw;
    -webkit-transform: translateY(14vh);
            transform: translateY(14vh);
  }
}

@media screen and (orientation: landscape) {
  main .welcomeBox, main .welcomeBox--solid, main .referencesBox--solid, main .referencesBox {
    height: 91vh;
    -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
  }
}

main .welcomeBox--solid, main .referencesBox--solid {
  background-color: #ffcc00;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  main .welcomeBox--solid, main .referencesBox--solid {
    -webkit-transform: skewX(-25deg) translateX(-8vw);
            transform: skewX(-25deg) translateX(-8vw);
    right: 15vw;
  }
}

@media screen and (orientation: portrait) {
  main .welcomeBox--solid, main .referencesBox--solid {
    display: none;
  }
}

main .sectionBoxWhite {
  height: 200%;
  width: 100%;
  position: absolute;
  left: -40vw;
  -webkit-transform: skewX(20deg) scaleX(1.5) translateX(-100px);
          transform: skewX(20deg) scaleX(1.5) translateX(-100px);
}

@media screen and (orientation: portrait) {
  main .sectionBoxWhite {
    -webkit-transform: skewX(20deg) scaleX(1.5) translateX(-70px);
            transform: skewX(20deg) scaleX(1.5) translateX(-70px);
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main .sectionBoxWhite {
    -webkit-transform: skewX(20deg) scaleX(1.5) translateX(-170px);
            transform: skewX(20deg) scaleX(1.5) translateX(-170px);
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main .sectionBoxWhite {
    -webkit-transform: skewX(20deg) scaleX(1.5) translateX(-250px);
            transform: skewX(20deg) scaleX(1.5) translateX(-250px);
  }
}

@media screen and (min-width: 1441px) {
  main .sectionBoxWhite {
    -webkit-transform: skewX(20deg) scaleX(1.5) translateX(-350px);
            transform: skewX(20deg) scaleX(1.5) translateX(-350px);
  }
}

main .box1 {
  background-color: #f1f1f1;
}

main .box2 {
  background-color: #f1eace;
}

@media screen and (min-aspect-ratio: 82 / 42) and (max-aspect-ratio: 10 / 4) {
  main .referencesWraper {
    right: 0vw;
  }
}

main #referencesText {
  z-index: 1;
  right: -12vw;
  height: 86vh;
}

@media screen and (orientation: portrait) {
  main #referencesText {
    height: auto;
  }
}

@media screen and (orientation: landscape) {
  main #referencesText {
    text-align: left !important;
    position: relative;
    top: 20vh;
    right: -14vw;
  }
}

@media screen and (min-width: 1441px) {
  main #referencesText {
    right: -10vw;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #referencesText {
    right: -10vw;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #referencesText {
    right: -10vw;
  }
}

main #referencesText h1 {
  position: relative;
}

@media screen and (min-aspect-ratio: 82 / 42) and (max-aspect-ratio: 10 / 4) {
  main #referencesText h1 {
    font-size: 3rem;
  }
}

@media screen and (orientation: landscape) {
  main #referencesText h1 {
    padding: 1vh 0;
  }
}

@media screen and (min-width: 1441px) {
  main #referencesText h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  main #referencesText h1 {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  main #referencesText h1 {
    font-size: 4.5rem;
  }
}

main #referencesText .movedRight {
  right: -4vw;
}

@media screen and (max-width: 575px) {
  main #referencesText .movedRight {
    right: 0vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  main #referencesText .movedRight {
    right: -2vw;
  }
}

@media screen and (orientation: portrait) {
  main #referencesText .movedRight {
    right: 0vw;
  }
}

main #referencesText .movedLeft {
  right: 2vw;
}

@media screen and (max-width: 575px) {
  main #referencesText .movedLeft {
    right: 6vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  main #referencesText .movedLeft {
    right: 5vw;
  }
}

@media screen and (orientation: portrait) {
  main #referencesText .movedLeft {
    right: 0vw;
  }
}

@media screen and (orientation: portrait) {
  main .referencesBox {
    width: 100vw;
    -webkit-transform: translateY(7vh);
            transform: translateY(7vh);
  }
}

@media screen and (orientation: landscape) {
  main .referencesBox {
    height: 91vh;
    -webkit-transform: skewX(25deg);
            transform: skewX(25deg);
  }
}

@media screen and (orientation: landscape) {
  main .referencesBox--solid {
    -webkit-transform: skewX(25deg) translateX(8vw);
            transform: skewX(25deg) translateX(8vw);
    left: 15vw;
  }
}

main .borderBox {
  position: absolute;
  right: -0.5vw;
  bottom: -5vh;
  border: 1px solid black;
  width: 105%;
  height: 220%;
  border-radius: 10px;
}

@media screen and (orientation: portrait) {
  main .borderBox {
    right: -2.5%;
  }
}

#copyright p, #copyright span {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */